@model List<Agrupacion>

<table class="table">
    <thead class="thead-dark">
        <tr>  
            <th>
                Activo
            </th>          
            <th>
                Grupo Nombre
            </th>            
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Agrupacion item in Model)
        {
            <tr>
                <td>
                    @if (item.Activo)
                    {
                        <label class="badge badge-pill badge-success">Activo</label>
                    }
                    else
                    {
                        <label class="badge badge-pill badge-danger">Inactivo</label>
                    }
                </td>
                <td class="nameAgrup">@Html.DisplayFor(modelItem => item.Nombre)</td>                
                <td>
                    <a class="BtnMonitoresEdit" onclick="levantarAgrup(this)" title="Editar Grupo" data-id="@item.AgrupacionID">
                        <i class="far fa-edit fa-2x"></i>
                    </a>
                    <a class="BtnAgrupacionDel" onclick="eliminarAgrupo(this)" title="Eliminar Grupo" data-id="@item.AgrupacionID">
                        <i class="far fa-edit fa-2x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>