@model MantenedorMonitoreInput

@{
    ViewData["Title"] = "Mantenedor Monitores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="Shared/_MantenedorMonitoresEdit" model="@Model" />

<section class="page-content container-fluid">
    <div class="row">

        <div class="card ">
            <div class="card-header">
                <div class="d-flex bd-highlight">
                    <h1 class=" p-2 flex-grow-1 bd-highlight">Monitores</h1>
                    <div class="p-2  bd-highlight">
                        <a href="#" id="BtnMonitoresAdd" title="Editar Monitor">
                            <i class="fas fa-plus-circle fa-2x text-info "></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="MonitoresMant">
                    <div class="table-responsive">
                        <partial name="Shared/_MantenedorMonitoresMonitores" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">

        function levantarCalc (e) {
            let nm = $(e).closest('tr').find('.nameMonitor').first();
            let ds = $(e).closest('tr').find('.descMonitor').first();
            let pr = $(e).closest('tr').find('.procMonitor').first();
            let km = $(e).closest('tr').find('.keyMonitor').first();


            $("#MonitorInput_Nombre").val(nm.text());
            $("#MonitorInput_Descripcion").val(ds.text());
            $("#MonitorInput_Procedimiento").val(pr.text());
            $("#MonitorInput_Job_MonitorID").val($(e).data("job"));
            $("#MonitorInput_AgrupacionID").val($(e).data("agr"));
            $("#MonitorInput_KeyMonitorProce").val(km.text());



            CheckedCheckbox("#MonitorInput_Activo", $(e).data("acti") == "True");
            CheckedCheckbox("#MonitorInput_Alerta", $(e).data("ale") == "True");

            sessionStorage.setItem("MonitorDt", JSON.stringify(["4d6f64", $(e).data("id")]));

            $("#MonitorEdit").modal({
                keyboard: true,
                backdrop: "static"
            });

        };

        $("#BtnMonitoresAdd").click(function () {

            $("#MonitorInput_Nombre").val('');
            $("#MonitorInput_Descripcion").val('');
            $("#MonitorInput_Procedimiento").val('');
            $("#MonitorInput_Job_MonitorID").prop('selectedIndex', 0);
            $("#MonitorInput_AgrupacionID").prop('selectedIndex', 0);
            $("#MonitorInput_KeyMonitorProce").val('');


            CheckedCheckbox("#MonitorInput_Activo", true);
            CheckedCheckbox("#MonitorInput_Alerta", false);

            sessionStorage.setItem("MonitorDt", JSON.stringify(["416772", "1"]));

            $("#MonitorEdit").modal({
                keyboard: true,
                backdrop: "static"
            });
        });

        $("#AjaxFormMonitores").submit(function (e) {
            e.preventDefault();
 
            if (!$("#AjaxFormMonitores").valid()) {
                return;
            }

            let post = new AjaxSubmit('@Url.Action("MantenedorMonitoresEdit", "SistemaMonitoreo")', "#SubmitBtn", "Error almacenamiento");
            post.btnCancel = "#btnCancel";
            post.partial = "#MonitoresMant";

            dt = ObtenerDatos();
            post.AjaxPop(dt);

        });

        function ObtenerDatos() {
            let sesion = JSON.parse(sessionStorage.getItem('MonitorDt'));

            return {
                MonitorID: sesion[1],
                Nombre: $("#MonitorInput_Nombre").val(),
                Descripcion: $("#MonitorInput_Descripcion").val(),
                Procedimiento: $("#MonitorInput_Procedimiento").val(),
                Job_MonitorID: $("#MonitorInput_Job_MonitorID").val(),
                AgrupacionID: $("#MonitorInput_AgrupacionID").val(),
                Procedimiento: $("#MonitorInput_Procedimiento").val(),
                Activo: $('#MonitorInput_Activo').prop('checked'),
                Alerta: $('#MonitorInput_Alerta').prop('checked'),
                KeyMonitorProce: $('#MonitorInput_KeyMonitorProce').val(),
                Accion: sesion[0]
            }
        }
    </script>

}